PORT=
MONGO_DB_URL=
TOKEN_SECRET=
SIGNED_COOKIE_SECRET=
CLIENT_URL=
CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
EMAIL_USER=
EMAIL_PASS_KEY=
SMS_ACCOUNT_SID=
SMS_AUTH_TOKEN=
SMS_PHONE_NUMBER=
MY_PHONE_NUMBER=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
RAZORPAY_API_KEY=
RAZORPAY_KEY_SECRET=